@page "/"

<div>
    <img src="./css/Imgs/audi1.jpg" class="header-image" alt="">
    <div class="container-fluid">
        <div class="header-title d-flex flex-column align-items-center">
            <h3 class="title-head">FIND THE BEST CAR FOR YOU</h3>
            <p class="title-content">
                Driving your own rented car gives you the
                freedom to see places you really want to explore at your own pace
            </p>
        </div>
    </div>
    <div class="container-fluid blue-container">
        <div class="title-box d-flex flex-column align-items-center">
            <h3 class="indi-title-head">Client</h3>
        </div>
        <div class="white-container d-flex flex-column justify-content-around align-items-center">
            <p class="client-title">We are committed to providing our customers with the highest level of service.</p>
            <div class="client-img-box d-flex">
                <img class="mx-3" src="./css/Imgs/client-1.png" alt="intel">
                <img class="mx-3" src="./css/Imgs/client-4.png" alt="google">
                <img class="mx-3" src="./css/Imgs/client-5.png" alt="amazon">
                <img class="mx-3" src="./css/Imgs/client-6.png" alt="nestle">
            </div>
        </div>
        <div class="d-flex p-5">
            <div class="w-75">
                <h3 class="service-title">Get Our Service</h3>
                <p class="service-content">
                    How May Be of Sevice?
                    Contact us so we can reply to you with specific details to address your needs
                </p>
            </div>
            <div class="w-25 d-flex align-items-center justify-content-center">
                <button class="contact-button">Contact Us</button>
            </div>
        </div>
    </div>
</div>